<a href="https://colab.research.google.com/github/OmdenaAI/SudanChapter_AnalyzeHealthcareAccessibility/blob/main/03_Data_preprocessing%20/demographics/omdena_sudan_health_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
file_path = "/content/drive/MyDrive/Omdena-Health_Sudan/demographicsAlt.csv"

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(file_path)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5044 entries, 0 to 5043
Data columns (total 87 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0                            5044 non-null   int64
 1   Region, subregion, country or area *  5044 non-null   object
 2   Location code                         5044 non-null   int64
 3   ISO3 Alpha-code                       5044 non-null   object
 4   ISO2 Alpha-code                       5044 non-null   object
 5   Type                                  5044 non-null   object
 6   Parent code                           5044 non-null   int64
 7   indicator                             5043 non-null   object
 8   gender                                5044 non-null   object
 9   quintile                              5044 non-null   int64
 10  ages                                  1250 non-null   object
 11  values are in percentage              5044 non-null   bool
 12  non-zero-year-columns                 5044 non-null   int64
 13  1950.0                                5044 non-null   float64
 14  1951.0                                5044 non-null   float64
 15  1952.0                                5044 non-null   float64
 16  1953.0                                5044 non-null   float64
 17  1954.0                                5044 non-null   float64
 18  1955.0                                5044 non-null   float64
 19  1956.0                                5044 non-null   float64
 20  1957.0                                5044 non-null   float64
 21  1958.0                                5044 non-null   float64
 22  1959.0                                5044 non-null   float64
 23  1960.0                                5044 non-null   float64
 24  1961.0                                5044 non-null   float64
 25  1962.0                                5044 non-null   float64
 26  1963.0                                5044 non-null   float64
 27  1964.0                                5044 non-null   float64
 28  1965.0                                5044 non-null   float64
 29  1966.0                                5044 non-null   float64
 30  1967.0                                5044 non-null   float64
 31  1968.0                                5044 non-null   float64
 32  1969.0                                5044 non-null   float64
 33  1970.0                                5044 non-null   float64
 34  1971.0                                5044 non-null   float64
 35  1972.0                                5044 non-null   float64
 36  1973.0                                5044 non-null   float64
 37  1974.0                                5044 non-null   float64
 38  1975.0                                5044 non-null   float64
 39  1976.0                                5044 non-null   float64
 40  1977.0                                5044 non-null   float64
 41  1978.0                                5044 non-null   float64
 42  1979.0                                5044 non-null   float64
 43  1980.0                                5044 non-null   float64
 44  1981.0                                5044 non-null   float64
 45  1982.0                                5044 non-null   float64
 46  1983.0                                5044 non-null   float64
 47  1984.0                                5044 non-null   float64
 48  1985.0                                5044 non-null   float64
 49  1986.0                                5044 non-null   float64
 50  1987.0                                5044 non-null   float64
 51  1988.0                                5044 non-null   float64
 52  1989.0                                5044 non-null   float64
 53  1990.0                                5044 non-null   float64
 54  1991.0                                5044 non-null   float64
 55  1992.0                                5044 non-null   float64
 56  1993.0                                5044 non-null   float64
 57  1994.0                                5044 non-null   float64
 58  1995.0                                5044 non-null   float64
 59  1996.0                                5044 non-null   float64
 60  1997.0                                5044 non-null   float64
 61  1998.0                                5044 non-null   float64
 62  1999.0                                5044 non-null   float64
 63  2000.0                                5044 non-null   float64
 64  2001.0                                5044 non-null   float64
 65  2002.0                                5044 non-null   float64
 66  2003.0                                5044 non-null   float64
 67  2004.0                                5044 non-null   float64
 68  2005.0                                5044 non-null   float64
 69  2006.0                                5044 non-null   float64
 70  2007.0                                5044 non-null   float64
 71  2008.0                                5044 non-null   float64
 72  2009.0                                5044 non-null   float64
 73  2010.0                                5044 non-null   float64
 74  2011.0                                5044 non-null   float64
 75  2012.0                                5044 non-null   float64
 76  2013.0                                5044 non-null   float64
 77  2014.0                                5044 non-null   float64
 78  2015.0                                5044 non-null   float64
 79  2016.0                                5044 non-null   float64
 80  2017.0                                5044 non-null   float64
 81  2018.0                                5044 non-null   float64
 82  2019.0                                5044 non-null   float64
 83  2020.0                                5044 non-null   float64
 84  2021.0                                5044 non-null   float64
 85  2022.0                                5044 non-null   float64
 86  2023.0                                5044 non-null   float64
dtypes: bool(1), float64(74), int64(5), object(7)
memory usage: 3.3+ MB

In [6]:
data.describe()

,Unnamed: 0,Location code,Parent code,quintile,non-zero-year-columns,1950.0,1951.0,1952.0,1953.0,1954.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
count,5044.000000,5044.0,5044.0,5044.000000,5044.000000,5044.000000,5044.000000,5044.000000,5044.000000,5044.000000,...,5.044000e+03,5.044000e+03,5.044000e+03,5.044000e+03,5.044000e+03,5.044000e+03,5.044000e+03,5.044000e+03,5.044000e+03,5.044000e+03
mean,2521.500000,729.0,912.0,7.842982,14.346947,5.092267,5.197863,5.313213,5.424209,5.541379,...,1.334810e+09,1.525053e+09,1.742530e+09,2.175432e+09,3.096190e+09,4.476746e+09,8.516528e+09,2.459190e+10,5.183271e+10,1.292922e+11
std,1456.221709,0.0,0.0,2.479007,18.387822,138.666052,142.703345,146.911051,151.216339,155.649713,...,1.922359e+10,2.204680e+10,2.684331e+10,3.561362e+10,5.573271e+10,8.108968e+10,1.624221e+11,5.316401e+11,1.139311e+12,2.864051e+12
min,0.000000,729.0,912.0,1.000000,0.000000,0.000000,0.000000,0.000000,-2.963000,-2.118000,...,-2.479940e+10,-2.833140e+10,-3.371650e+10,-4.861110e+10,-2.225294e+11,-2.206165e+11,-4.534795e+11,-2.731372e+12,-3.958976e+12,-6.390000e+11
25%,1260.750000,729.0,912.0,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2521.500000,729.0,912.0,9.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,3782.250000,729.0,912.0,9.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.816733e+01,3.787729e+01,2.702322e+00,1.326722e+00,2.863361e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,5043.000000,729.0,912.0,9.000000,73.000000,6189.910000,6376.060000,6568.609000,6765.905000,6969.636000,...,4.727977e+11,5.340922e+11,6.394556e+11,8.669560e+11,1.404396e+12,2.130591e+12,4.066003e+12,1.338716e+13,2.875520e+13,7.225483e+13

In [11]:
# drop 'Unnamed: 0' column
data.drop(columns=["Unnamed: 0"], inplace=True)

In [12]:
# rename 'Region, subregion, country or area *' column
data.rename(columns={"Region, subregion, country or area *": "Region_country_area"}, inplace=True)

In [13]:
data[["Region_country_area","quintile", "1950.0", "1980.0", "2022.0", "2023.0"]].sample(20)

     Region_country_area  quintile  1950.0  1980.0  2022.0  2023.0
4247               Sudan         9     0.0    0.00   6.000   6.000
925                Sudan         9     0.0    0.62   0.000   0.000
4560               Sudan         9     0.0    0.00   0.000   0.000
440                Sudan         4     0.0    0.00   0.000   0.000
51                 Sudan         9     0.0    0.00   0.000   0.000
520                Sudan         9     0.0    0.51   0.000   0.000
4579               Sudan         9     0.0    0.00   0.000   0.000
4946               Sudan         9     0.0    0.00   0.000   0.000
1044               Sudan         9     0.0  862.00   0.000   0.000
3999               Sudan         9     0.0    0.00   0.000   0.000
4908               Sudan         9     0.0    0.00  12.872  17.473
3                  Sudan         9     0.0    0.00   0.000   0.000
149                Sudan         9     0.0    0.00   0.000   0.000
3381               Sudan         3     0.0    0.00   0.000   0.000
3549               Sudan         9     0.0    0.00   0.000   0.000
815                Sudan         9     0.0    0.13   0.000   0.000
4040               Sudan         9     0.0    0.00   0.000   0.000
515                Sudan         9     0.0    0.52   0.000   0.000
4835               Sudan         9     0.0    0.00   0.000   0.000
1577               Sudan         2     0.0    0.00   0.000   0.000

In [9]:
cols = list(data.columns)

In [10]:
cols

['Unnamed: 0',
 'Region, subregion, country or area *',
 'Location code',
 'ISO3 Alpha-code',
 'ISO2 Alpha-code',
 'Type',
 'Parent code',
 'indicator',
 'gender',
 'quintile',
 'ages',
 'values are in percentage',
 'non-zero-year-columns',
 '1950.0',
 '1951.0',
 '1952.0',
 '1953.0',
 '1954.0',
 '1955.0',
 '1956.0',
 '1957.0',
 '1958.0',
 '1959.0',
 '1960.0',
 '1961.0',
 '1962.0',
 '1963.0',
 '1964.0',
 '1965.0',
 '1966.0',
 '1967.0',
 '1968.0',
 '1969.0',
 '1970.0',
 '1971.0',
 '1972.0',
 '1973.0',
 '1974.0',
 '1975.0',
 '1976.0',
 '1977.0',
 '1978.0',
 '1979.0',
 '1980.0',
 '1981.0',
 '1982.0',
 '1983.0',
 '1984.0',
 '1985.0',
 '1986.0',
 '1987.0',
 '1988.0',
 '1989.0',
 '1990.0',
 '1991.0',
 '1992.0',
 '1993.0',
 '1994.0',
 '1995.0',
 '1996.0',
 '1997.0',
 '1998.0',
 '1999.0',
 '2000.0',
 '2001.0',
 '2002.0',
 '2003.0',
 '2004.0',
 '2005.0',
 '2006.0',
 '2007.0',
 '2008.0',
 '2009.0',
 '2010.0',
 '2011.0',
 '2012.0',
 '2013.0',
 '2014.0',
 '2015.0',
 '2016.0',
 '2017.0',
 '2018.0',
 '2019.0',
 '2020.0',
 '2021.0',
 '2022.0',
 '2023.0']